@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --color-soft-black: #1A1A1A;
  --color-card-dark: #242424;
  --color-vibrant-purple: #A855F7    ;
  --color-warm-yellow: #FFD280;
  --color-border-grey: #333333;
}